/点击左侧导航栏Nodes后，右侧呈现的页面
#sidebar= render 'shared/node_manager_sidebar'
#main

  .header
    %h2.half
      - if action_name != 'index'
        = h action_name.titleize.capitalize
        nodes
      - else
        Nodes
        /搜索框
      = describe_search_if_present
    = render 'search'
    /= render 'shared/search' if action_name == "index"
    /可以同group搜索一样用shared下面的搜索程序
    %br.clear

  .item
    .section
      = render 'statuses/run_failure', :nodes => @nodes
    .section
      %h3 Nodes
      = render 'nodes', :nodes => @nodes, :selected_status => action_name
      %br.clear
    - if action_name == 'failed'
      .section
        %h3 Latest report errors
        = render 'log_detail', :nodes => @nodes
        %br.clear
